.dashboard_icons {
  font-size: 130px;
  margin-right: 20px;
}

.brown {
  background-color: rgb(153, 103, 11);
}

.pink {
  background-color: rgb(243, 83, 96);
}

.green {
  background-color: rgb(13, 61, 4);
}

.blue {
  background-color: #04355f
}

.blue-nav {
  background-color: #87c0f2
}