.add-job {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.add-job h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.add-job .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-job label {
  font-size: 1.2rem;
  font-weight: bold;
}

.add-job input,
.add-job textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.add-job button {
  background-color: #0077ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-job button:hover {
  background-color: #0066cc;
}
