*
{
	margin: 0;
	padding: 0;
}

.home-logo {
  font-size: 24px;
  font-weight: bold;
  background-color: #143C66;
  text-transform: uppercase;
  color: #fff;
}

/* /* #aboutSection{
  height: 100vh;
} */
/* #headerSection{
  height: 85vh;
} */
/* #teamSection{
  height: 100vh;
} */ 
.aboutTitle {
  font-size: 40px;
  color: white;


}
