*
{
	margin: 0;
	padding: 0;
}

.home-logo {
  font-size: 24px;
  font-weight: bold;
  background-color: #143C66;
  text-transform: uppercase;
  color: #fff;
}

#aboutSection{
  height: 100vh;
}
#featureSection{
  height: 100vh;
}
#teamSection{
  height: 100vh;
}
#footerSection{
  height: 100vh;
}
.aboutContainer {
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 800px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: #143C66;
}

.aboutTitle {
  font-size: 40px;
  color: white;


}
